<!-- -->
<launch>

	<arg name="port" default="8617"/>
	
	<node pkg="remote_control" type="fixed_client_node" name="fixed_client_node" output="screen">
		<param name="socket_ip" value="192.168.0.109"/>  <!--36.155.113.13   192.168.8.115-->
		<param name="socket_port" value="$(arg port)"/>
	</node>
	
	<node pkg="joy" type="joy_node" name="joystick">
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.12" />
	</node>

</launch>

