<!-- -->
<launch>

	<arg name="port" default="8617"/>
	
	<node pkg="remote_transport" type="msg_receiver_node" name="msg_receiver_node" output="screen">
		<param name="image_topic" value="/image_raw"/>
		<param name="socket_ip" value="47.98.51.23"/>
		<param name="socket_port" value="$(arg port)"/>
	</node>
	
	<node pkg="joy" type="joy_node" name="joystick">
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.12" />
	</node>

</launch>

