<!-- -->
<launch>

	<arg name="id" default="0"/>

	<node pkg="camera_driver" type="camera_driver_node" name="camera_driver_$(arg id)" output="screen" args="$(arg id)" >
		<param name ="calibration_file_path" value="aaa.yaml"/>
		<param name ="frame_rate" value="20"/>
		<param name="is_show_image" value="true"/>
		<rosparam param="resolution" > [1280,720] </rosparam>
		<param name="image_quality" value="20"/>
	</node>
	
	<node pkg="remote_transport" type="msg_sender_node" name="msg_sender_node" output="screen">
		<param name="image_topic" value="/image_raw"/>
		<param name="socket_ip" value="47.98.51.23"/>
		<param name="socket_port" value="8888"/>
		<param name="image_cut_h" value="200"/>
	</node>
	
	

</launch>

