<!-- -->
<launch>
	<arg name="id" default="0"/>
	<arg name="port" default="8617"/>
	<arg name="base_control_port" default="/dev/U4"/>   <!--底层can分析仪-->
	<arg name="stm32_port" default="/dev/U6"/>          <!-- STM32-->

	<node pkg="camera_driver" type="camera_driver_node" name="camera_driver_$(arg id)" args="$(arg id)" >
		<param name ="calibration_file_path" value="aaa.yaml"/>
		<param name ="frame_rate" value="30"/>
		<param name="is_show_image" value="true"/>
		<rosparam param="resolution" > [1280,720] </rosparam>
		<param name="image_quality" value="50"/>
	</node>
	
	<node pkg="remote_transport" type="msg_sender_node" name="msg_sender_node" output="screen">
		<param name="image_topic" value="/image_raw"/>
		<param name="socket_ip" value="47.98.51.23"/>
		<param name="socket_port" value="$(arg port)"/>
		<param name="image_cut_h" value="100"/>
	</node>
	

	<node pkg="js_control" type="js_control" name="js_control_node" />
	
</launch>

