<!-- -->

<launch>
<arg name="id" default="0"/>
<arg name="show" default="true" />
<arg name="file" default="aaa.yaml"/>

	<node pkg="camera_driver" type="camera_driver_node" name="camera_driver_$(arg id)" output="screen" args="$(arg id)" >
		<param name ="calibration_file_path" value="$(find camera_driver)/calibration_file/$(arg file)"/>
		<param name ="frame_rate" value="30"/>
		<param name="is_show_image" value="$(arg show)"/>
		<rosparam param="resolution" > [640,480] </rosparam>
		
	</node>

</launch>

